.todo-list {
  margin-bottom: 5px;
  max-height: 240px;
  overflow: scroll;
}

.todo-list::-webkit-scrollbar {
  width: 0;
}

.todo-item .container {
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ccc;
}